/* Making color and background-color of entire document */
* {
    color: navy;
    background-color: darkgray;
    font-family: 'Poltawski Nowy', serif;
}

/* Coloring the top portion of the webapge */
header {
    background-color: sandybrown;
}

/* Changing color of the title*/
.title {
    color: rgb(150, 50, 50);
}

/* Changing color of the "Notes by:"  */
.who {
    color: #AFFFBF
}

/* Changing color of the date */
.date {
    color: hsl(0, 90%, 50%)
}

/* Adding height of the topic */
.topic {
    height: 10cm;
    margin: 50px 50px 50px 50px;
}

/* Adding height for the agenda section*/
.head {
    height: 50mm;
    margin-left: 50px;
}

/* Changing sizing of the only picture on the webpage */
.hieu {
    height: 800px;
    width: 800px;
    border-style: solid;
    border-color: red;
    border-width: 20px;
    border-radius: 5px;
}

/* Resizing picture of hieu when screensize reaches 600px */
@media (max-width: 600px) {
    .hieu {
        height: 300px;
        width: 300px;
    }
}

/* Changing sizing of the height and width of the video  */
.vid {
    height: 40em;
    width: 40rem;
    max-width: 400px;
    min-width: 200px;
}

/* changing width of the audio */
audio {
    width: 40vh;
}

/* Changed display of attendance list to flex */
#attendance{
    display: inline;
    position: static;
}

/* Changed color and padding of unordered lists next to h3 */
h3+ul{
    color: blue;
    padding-left: 50px;
}

/* Changing color and padding of paragraphs inside divs */
div>p{
    color: green;
    padding: 20px 20px 20px 20px;
}

/* Changed text design to underline and middled it for paragraphs */
p {
    text-decoration: underline;
    text-align: center;
}

.media {
    display: block;
    position: relative;
}

select~button:hover {
    background-color: green;
}

img:active {
    border-color: blue;
    border-width: 50px;
}

.pictures {
    display: flex;
    flex-shrink: 5;
    flex-wrap: wrap-reverse;
    flex-flow: space-evenly;
    justify-content: flex-end;
}

.pic {
    height: 500px;
    width: 500px;

}

.pictures2 {
    display: grid;
    grid-template-columns: [first] 500px [line2] 500px [line3] auto [col4-start] 50px [five] 400px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.pic1 {
    height: 500px;
    width: 500px;
}

.pic2 {
    height: 500px;
    width: 500px;
}

.pic3 {
    height: 500px;
    width: 500px;
}

h3[class] {
    color: red;
}

ol, label {
    color: purple;
}

section audio {
    border-style: dotted;
    border-color: red;
    border-width: 20px;
    border-radius: 5px;
}

hr ~ h3 {
    color: yellow;
}

h3.finally {
    color: black;
}